body{
    padding: 0;
    margin: 0;
    background-color: rgb(21, 21, 21);
    
}
.whole{
margin: 0 auto;
margin-top: 2vh;
background-color: black;
   
    width: 30vw;
    border: 2px solid white;
    border-radius: 19px;
    padding: 50px;
    
}
h1{color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 0px 3px 7px orange;
}
.container{ 
   text-align: center;
   margin-top: 20px;

}
.row{
    margin: 0;
    padding: 0;

}
.inpi{
    
    
    padding: 1rem 0;
    
    background-color: red;
}
.inpi input{
    padding: 0.2rem;
    width: 41vw;
    background-color: blue;
    
}
input{
background-color: black;
color: white;
    border: 4px solid black;
    border-radius: 5px;
    font-size: 50px;
font-family:serif ;}

.btn{
    margin: 4px;
    border: 1px solid black;
    border-radius: 40px;
    height: 9.3vh;
    width: 4.5vw;
    font-weight: bold;
    color: white;
    font-size: 1.3rem;
transition: all 0.2s;
-webkit-text-stroke: 0.7px black;
}
.btn:hover{
transform: scale(1.04);
}
.zero{
width: 9.6vw;
}
.grey{
    background-color: rgb(155, 155, 155);
}
.blackish{
    background-color: rgb(92, 91, 91);
}
.orange{
    background-color: rgb(237, 155, 4);

}
/*media query------------------------------------*/

@media (max-width:1531px) {
    .whole{
        padding: 40px;
    }
    .btn{
        margin: 4px;
        height: 8.2vh;
    }
}
@media (max-width:1320px) {
    .whole{
        padding: 40px;
    }
    .container{
        padding: 0;
    }
    .row{
        padding: 0;
        margin: 0;
    }
    .btn{
        margin: 4px;
        height: 8.2vh;
    }
}

@media (max-width:1205px) {
    .whole{
        padding: 20px;
    }
    .btn{
        margin-left: 8px;
        height: 8vh;
        width: 6vw;
    }
    .row{
        padding: 2px;
        margin: 0;
    }
    .zero{
        width: 13vw;
    }
}
@media (max-width:1031px) {
  .whole{
    padding: 60px;
  }
    .btn{
        margin: 4px;
        height: 8.2vh;
        width: 6vw;
    }
    .container{
        margin: 0;
    }
}

@media (max-width:1097px) {
    
    .whole{
        padding: 60px;
    }
    .btn{
        width: 7vw;
    }
}
@media (max-width:1106px){
.whole{
    padding:0;
width: 39vw;
}
    .container{
        width: 39vw;
        padding: 0;
        margin:0;
    }
    .btn{width: 7vw;
        margin-left: 0;
        margin: 0;
        margin-bottom: 5px;
    }
    .zero{
        width: 14vw;
    }
}
@media (max-width:900px){
    .whole{
        width: 60vw;
    }
    .btn{
     margin: 5px;
     width: 8.4vw;
     height: 9vh;
    }
    
    .zero{
      width:19vw ;  
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
padding: 8vw;
        margin: 0;
        width: 44vw;
    }
}
@media (max-width:750px) {
    .container{
        padding:0;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .row{
        height: 100px;
        margin: 1px;
    }
.whole{
width:45vw;
}
.btn{
    width: 9vw;
}
.zero{
    width: 19vw;
}
}
@media (max-width:722px) {
    .container{
        padding:0;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 70vw;
    }
   
.whole{
width:70vw;
padding: 5px;
}
.btn{
    margin:10px;
    width: 9vw;
}
.row{
    margin: 0;
    width:60vw ;
}
.zero{
    width: 20vw;
}
}
@media (max-width:540px) {
    .container{
width: 90vw;
padding: 0;
 }
 #inp {
    width: 70vw;
 }
 #inp input{
    width: 69vw;
 }
    .row{
        height: 100px;
        margin: 1px;
        width: 90vw;
    }
.whole{
width:90vw;
}
.btn{
    width: 12vw;
}
.zero{
    width: 27vw;
}
}
@media (max-width:378px) {
    .container{
width: 90vw;
padding: 0;
 }
 #inp{
    padding: 5vw;
    width: 80vw;
 }
 #inpi input{
    width: 100vw;
 }
    .row{
        height: 100px;
        margin: 1px;
        width: 89vw;
    }
.whole{
width:90vw;
}
.btn{
    width: 14vw;
}
.zero{
    width: 35vw;
}
}
@media (max-width:321px) {
    .container{
width: 95vw;
padding: 0;
 }
 #inp{
    width: 85vw;
    padding: 0;
    height: 20vh;
 }
    .row{
        height: 100px;
        margin: 1px;
        width: 95vw;
    }
.whole{
width:95vw;
}
.btn{
    width: 16vw;
}
.zero{
    width: 39vw;
}
}